doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Adaptive Web Design

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(class='deck-slide')
        img(src='styles/title.png', width='400px')

        p By <a href="http://www.janantala.com/">Ján Antala</a>
        p Supervisor: Assoc. Professor <a href="http://www2.fiit.stuba.sk/~cernans/main/contact.html">Michal Čerňanský</a>
        p FIIT STU - Jun 11, 2014

      section
        h2 Adaptive Web Design
        p We consider <i>adaptive web design</i> as an equal with creating a <strong>single Web experience</strong>.
        p We can adjust it based on the <strong>capabilities</strong> of the device and browser.
        p Website can detect available features, access sensors in devices and use them to <strong>enhance</strong> user experience.

      section
        h3 Progressive enhancement
        p Adaptive web design is fundamentally <i>Progressive enhancement</i>, but it is being applied to a much larger and <strong>more diverse landscape</strong>.
        p We now have Web-enabled <i>smartphones, tablets, e-readers, netbooks, watches, TVs, phablets, notebooks, game consoles, cars and more</i>.
        p We also have many types of internet networks with different speed, latency and quality.

      section
        h3 Responsive design
        p <i>Responsive design</i> is also one technique in an adaptive web design strategy.
        p Creating flexible layouts is important, but there are many <strong>more factors we need to think about</strong>.
        p It is also important to consider as well ergonomics, touch capability, other input methods, internet connections and many other features that can be detected.

      section
        h2 Hypothesis
        hr
        ul
          li enhance control of the web apps using adaptive input methods
          li save transferred data
          li improve page load times
          li easy integration into existing web apps

      section
        h2 Adaptive web components
        p There are many commonly used web services (<i>videos, maps...</i>) that produce many requests and <strong>unnecessary web traffic</strong> even the website user does not want to use them.
        hr
        img(src='styles/youtube-timeline.png', width='400px')
        hr
        p To load an average YouTube video we need to make 9 requests and download 1517 kB of data.

      section
        h3 Adaptive web components
        p There are also <strong>native mobile applications</strong> for that services with better perfomance and provide full user experience.
        hr
        div(class='slideshow')
          img(src='styles/gmaps-discover.png', height='200px')
          img(src='styles/gmaps-navigate.png', height='200px')
          img(src='styles/gmaps-streetview.png', height='200px')
          img(src='styles/youtube-more.png', height='200px')

      section
        h3 Adaptive web components
        p We can utilize <strong>conditional loading</strong> to serve the best experience <br/>for the right context.
        hr
        img(src='styles/maps.png', width='400px')

      section
        h3 Adaptive web components
        p ...and hide the logic behind the <strong>reuseable</strong> web component.

        hr
        pre
          code.language-javascript.
            $scope.options = {
              sensor: false,
              size: '500x300',
              zoom: 9,
              center: 'San Francisco International Airport',
              markers: ['San Francisco', 'San Jose'],
              maptype: 'terrain'
            };

            &lt;googlemaps class="google-maps" options="options"/&gt;

      section
        h3 Adaptive web components
        p We can save <strong>3 requests</strong> and up to <strong>1100 kB of traffic</strong> for an average Youtube video*.
        p We can save <strong>62 requests</strong> and up to <strong>5000 kB of traffic</strong> for an average Google Map component*.
        hr
        img(src='styles/gmaps-fullload.png', width='400px')
        hr
        p Page load times for an average Youtube video.

      section
        h2 Conclusion
        ul
          li We can <strong>enhance user exparience</strong> using adaptive input methods
          li Adaptive web components can dramaticaly <strong>speed up</strong> page load times and save a lot of traffic
          li Open source project, available on <strong>Github</strong> <br>
            <a href="https://github.com/angular-adaptive/">https://github.com/angular-adaptive/</a>
          li Referenced in <i>JavaScript Weekly, AngularJS Weekly, deSymfony 2013, Lone StarPHP 2013, WebElement...</i>

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
