doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Adaptive Web Design

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(class='deck-slide')
        img(src='styles/title-sk.png', width='400px')

        p Autor: <a href="http://www.janantala.com/">Ján Antala</a>
        p Vedúci diplomovej práce: doc. Ing. <a href="http://www2.fiit.stuba.sk/~cernans/main/contact.html">Michal Čerňanský</a> PhD.
        p FIIT STU - 11. jún 2014

        img(src='styles/logo-fiit.gif', width='150px', class='fiit')

      section
        h2 Adaptívny web dizajn
        p <i>Adaptívny web dizajn</i> chápeme ako vytvorenie <strong>jednotného webu</strong> pre všetky zariadenia.
        p Použitie pokročilejších funkcií môžeme modifikovať podľa <strong>možností</strong> zariadenia , prehliadača, či externých podmienok.
        p Webová stránka detekuje podporované vlastnosti zariadení, môže pristúpiť k senzorom, použiť ich a tým <strong>zlepšiť používateľský zážitok</strong> na tých zariadeniach, kde je to možné.

      section
        h3 Progressive enhancement
        p Adaptívny web dizajn je v podstate <i>Progressive enhancement</i>, ale aplikovaný na omnoho väčšiu a <strong>pestrejšíu scénu</strong>.
        p V súčasnosti na web pristupujú <i>smartfóny, tablety, e-čítačky, netbooky, hodinky, TV, phablety, notebooky, herné konzoly, autá a mnohé ďalšie zariadenia</i>.
        p Taktiež existuje veľa druhov internetových pripojení s rozdielnými rýchlosťami, latenciami a kvalitou.

      section
        h3 Responzívny dizajn
        p <i>Responzívny dizajn</i> je taktiež jednou z techník stratégie adaptívneho web dizajnu.
        p Vytváranie flexibilných rozložení elementov je dôležité, ale existuje omnoho <strong>viac faktorov na ktoré musíme myslieť</strong>.
        p Je dôležité uvažovať ergonomiku, možnosti ovládania, internetové pripojenia a mnoho ďalších vlastností, ktoré vieme detekovať.

      section
        h2 Hypotézy
        hr
        ul
          li zlepšiť kontrolu webových aplikácií pomocou alternatívnych spôsobov ovládania
          li ušetriť množstvo prenášaných dát a zrýchliť dobu načítania aplikácií
          li jednoduchá integrácia do existujúcich aplikácií

      section
        h2 Alternatívne spôsoby ovládania
        hr
        p Na webe <strong>neexistuje univerzálny spôsob</strong> ovládania. Pri dizajne rozhraní je omnoho dôležitejší ako veľkosť obrazovky.
        p Výzvou na nasledujúce roky sa stáva nenavrhovanie len pre jeden typ ovládania, ale pre mnoho.
        hr
        p Experimentovali sme s ovládaním webových aplikácií pomocou:
        ul
          li rečových príkazov
          li pohybu zariadenia
          li pohybu detekovaným web kamerou

      section
        h3 Rozpoznanie reči
        p Rozpoznanie reči je <strong>experimentálnou funkciou</strong>.
        p <small>Nie je zatiaľ W3C štandart ani nie je zaradení do zoznamu budúcich W3C štandartov.</small>
        p Funcionalita je dostupná len v prehliadači Chrome a potrebuje internetové pripojenie.
        p Navrhli sme <strong>koncept ako ovládať webové aplikácie</strong> pomocou hlasových príkazov.
        p Zahrňujeme <strong>multijazykovú podporu</strong>.
        p Pomocou rečových príkazov je možné ovládať kompletnú webovú aplikáciu.

      section
        h3 Rozpoznanie reči
        p Pomocou kontinuálneho rozpoznávania reči získavame textové reťazce a porovnávame ich s <strong>regularnými výrazmi</strong>.
        p <strong>Spätné volania</strong> (callback) metódy sa zavolajú po rozpoznaní rečového príkazu.
        p Takto vieme nakonfigurovať rôzne metódy na rovnaké subjekty.
        hr
        pre
          code.language-javascript.
            'addToList': {
              'regex': /^to do .+/gi,
              'lang': 'en-US',
              'call': function(e){
                  // callback
              }
            }

      section
        h3 Pohyb zariadenia
        p Detekujeme pomocou <strong>vždy zapnutého senzoru</strong> - <i>gyroskopu</i> a <i>device orientation API</i>.
        p Máme prístup k informáciám <strong>rotácie zariadenia z 3 osi</strong>.
        hr
        img(src='styles/gyro.png', width='200px')
        p(style='font-size: 8px;') zdroj: developer.apple.com

      section
        h3 Pohyb zariadenia
        p Navrhli sme použitie rotácie zariadenia ako alternatívu ku <strong>skrolovaniu</strong> aplikácie pomocou dotykov alebo myši.
        p Pomocou rozdielu medzi aktuálnou a začiatočnou polohou rotácie vieme rozhodnúť <strong>akým smerom</strong> a <strong>ako rýchlo</strong> skrolovať.

      section
        h3 Pohyb zariadenia
        p Boli zistené <strong>závažné problémy</strong> v implementácii v prehliadačoch.
        p Implementácia Device orientation API ani v jednom prehliadači <strong>nespĺňa</strong> W3C špecifikáciu!
        hr
        p Preto neodporúčame jeho použitie v produkčných aplikáciách.

      section
        h3 Pohyb detekovaný web kamerou
        p <strong>Stream z web kamery</strong> rozdeľujeme ho do snímkov obrázkov.
        p V každom snímku detekujeme používateľa pomocou <strong>HSV filtru</strong>.
        p Susedné snímky porovnávame a získame <strong>rozdielové body</strong>.
        p Aplikovaním porovnávania do sekvencie snímkov získame <strong>pohybový vektor</strong>.
        hr 
        div(class='slideshow')
          img(src='styles/video.png', height='80px')
          img(src='styles/skin.png', height='80px')
          img(src='styles/edges.png', height='80px')

      section
        h3 Pohyb detekovaný web kamerou
        p Detekujeme <strong>4 smery</strong> pohybu.
        p <i>Canvas</i> nám umožňuje využiť <strong>hardwérovú akceleráciu</strong>.
        p Vyžaduje <strong>veľkú spotrebu energie</strong>.
        p Potrebujeme <strong>vhodné osvetlenie</strong>. Problémy detekcie môžu nastať v tmavých alebo svetlých scénach.

      section
        h2 Webové komponenty
        p Existuje mnoho služieb (<i>videa, mapy...</i>), ktoré produkujú mnoho požiadaviek a <strong>zbytočnú webovú prevádzku</strong> aj keď ich používateľ nechce použiť.
        hr
        img(src='styles/youtube-timeline.png', width='400px')
        hr
        p Na načítanie Youtube videa potrebujeme vykonať 9 požiadaviek a preniesť 1517 kB dát.

      section
        h3 Webové komponenty
        p Na služby existujú aj <strong>natívne mobilné aplikácie</strong> s lepším výkonom a poskytujú plný používateľský zážitok.
        hr
        div(class='slideshow')
          img(src='styles/gmaps-discover.png', height='200px')
          img(src='styles/gmaps-navigate.png', height='200px')
          img(src='styles/gmaps-streetview.png', height='200px')
          img(src='styles/youtube-more.png', height='200px')
        p(style='font-size: 8px;') zdroj: play.google.com

      section
        h3 Webové komponenty
        p Môžme využiť <strong>podmienené načítavanie</strong> na vykonanie najlepšej akcie pre správny kontext.
        hr
        img(src='styles/maps.png', width='400px')

      section
        h3 Webové komponenty
        p ...a celú logiku skryť za <strong>znovupoužiteľný</strong> webový komponent.

        hr
        pre
          code.language-javascript.
            $scope.options = {
              sensor: false,
              size: '500x300',
              zoom: 9,
              center: 'Bratislava',
              markers: ['Bratislava'],
              maptype: 'terrain'
            };

            &lt;googlemaps class="google-maps" options="options"/&gt;

      section
        h3 Webové komponenty
        p Pri priemernom Youtube videu* ušetríme <strong>3 dopyty</strong> a prenesenie až <strong>1100 kB dát</strong>.
        p Pri priemernom Google Maps komponente* ušetríme <strong>62 dopytov</strong> a prenesenie až <strong>5000 kB dát</strong>.
        hr
        img(src='styles/gmaps-fullload.png', width='400px')
        hr
        p Časy načítanie komponentu pre priemerné Youtube video na rôznych druhov pripojení.

      section
        h2 Zhodnotenie
        ul
          li Použitím alternatívnych spôsobov ovládania vieme <strong>zvýšiť používateľský zážitok</strong>
          li Webové komponenty môžu dramaticky <strong>zrýchliť</strong> čas načítania a <strong>ušetriť</strong> množstvo dát
          li Open source projekt, dostupný na <strong>Githube</strong> <br>
            <a href="https://github.com/angular-adaptive/">https://github.com/angular-adaptive/</a>
          li Odkazy na prácu v <i>JavaScript Weekly, AngularJS Weekly, deSymfony 2013, Lone StarPHP 2013, WebElement...</i>
          li Príspevok na iit.src

      section
        h2 Angular-Adaptive
        p Sprievodca adaptívnym web dizajnom.
        hr
        img(src='styles/aa.png', height='300px')
        hr
        <a href="https://github.com/angular-adaptive/">https://github.com/angular-adaptive/</a>

      section
        h3 adaptive-speech
        p Modul umožňuje ovládanie webovej aplikácie pomocou rečových povelov.
        hr
        video(width='250', controls, loop)
          source(src='styles/videos/adaptive-speech.mp4')

        pre
          code.default.
            bower install angular-adaptive-speech

      section
        h3 adaptive-scroll
        p Modul umožňuje ovládanie webovej aplikácie pomocou rotácie gyroskopu.
        hr
        video(width='250', controls, loop)
          source(src='styles/videos/adaptive-scroll.mp4')

        pre
          code.default.
            bower install angular-adaptive-scroll

      section
        h3 Gyrocopter
        p Gyroskop emulátor, rozšírenie do <i>Chrome Developer Tools</i>

        hr
        img(src='styles/gyrocopter.png', width='300px')
        hr
        p Dostupné na <a href="https://chrome.google.com/webstore/detail/gyrocopter/oooalfgemajfclliinfcdkifafmcfjop">chrome web store</a>
        p asi 200 inštalácií

      section
        h3 adaptive-motion
        p Modul umožňuje ovládanie webovej aplikácie pomocou web kamery.
        hr
        video(width='250', controls, loop)
          source(src='styles/videos/adaptive-motion.mp4')

        pre
          code.default.
            bower install angular-adaptive-motion

      section
        h3 adaptive-googlemaps
        p Modul umožňuje podmienene načítať google mapy.
        hr
        video(width='250', controls, loop)
          source(src='styles/videos/adaptive-googlemaps.mp4')

        pre
          code.default.
            bower install angular-adaptive-googlemaps

      section
        h3 Ďalšie knižnice
        
        h4 adaptive-youtube
        pre
          code.default.
            bower install angular-adaptive-youtube

        h4 adaptive-detection
        pre
          code.default.
            bower install angular-adaptive-detection

        h4 speech-synthesis
        pre
          code.default.
            bower install speech-synthesis

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
